<div class="fondo-oferta bg-light" id="oferta">

<div class="container">

<h2 class="text-center
mb-4 pt-4">Disfruta de las mejores ofertas</h2>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card">
        <img src="../../../assets/img/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ut repudiandae! Ex commodi voluptate voluptatem error ab expedita sapiente, aliquam eum consequuntur temporibus quod soluta sit, qui accusantium tempora rem!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card">
        <img src="../../../assets/img/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At optio debitis ab aspernatur commodi voluptatibus sed quibusdam repudiandae, maiores earum molestias porro, asperiores corrupti ea animi quod obcaecati tenetur architecto?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card">
        <img src="../../../assets/img/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis ut unde sequi, reprehenderit deleniti culpa quo excepturi, aspernatur dolor, repellendus accusantium tempora facere perspiciatis autem sunt eum magni cum laborum?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
      <div class="card">
        <img src="../../../assets/img/4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, sit earum animi natus atque nihil minima consequuntur accusamus labore est quasi velit doloremque veniam suscipit consequatur cum facilis, fugiat quaerat!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>