<div id="contactos">
    <h2 class="titulo-contacto">Contáctanos</h2>
    <div class="contenedor-contacto">
        <form action="" method="POST">
            <div id="input">
                <input type="text" name="nombre" id="" placeholder="Ingrese Nombre *" required>
                <input type="email" name="email" id="" placeholder="Ingrese Email *" required>
                <input type="number" name="telefono" id="" placeholder="Ingrese Telefono *" required>
            </div>
            <textarea name="" id="consulta" cols="30" rows="10" placeholder="Ingrese Consulta *" required></textarea>
            <div class="boton-c">
                <input type="submit" value="Enviar" class="boton-contacto">
            </div>
        </form>
    </div>
</div>